.App {
  padding: 30px;
  /* background-color: #0c4541; */
}

.panama-button {
  background-color: #ff164c !important;
  color: white !important;
}

.panama-button.active {
  background-color: #b90e36 !important;
}

.bg-pan-yellow {
  background-color: #ffe000 !important;
}

.heading {
  display: inline-block;
}

.search-btn {
  float: right;
}
